@page "/"
@page "/Index"

@using BlazorServerDemo.Models
@using BlazorServerDemo.Pages.ContactComponents

<h1>Index Page</h1>

<ContactComponent contacts="contacts" >
    <NullContact>
        <span>Loading contacts...</span>
    </NullContact>
</ContactComponent>
<br />
<br />
<a href="/TestHrefAchor">Test Href Anchor</a>
<br />
<br />
<button @onclick="TestHrefAchor">TestHrefAchor</button>


