<h3>Contact</h3>
@inject IJSRuntime js
@if(contacts is null)
{
    @NullContact
}
else
{
    <input type="checkbox" onclick="@(()=>{displayEmail=!displayEmail;})" @bind="displayEmail" /><label>Display Email</label>

    @foreach (var contact in contacts)
    {
        <ContactComponents01 contact="contact" displayEmail="displayEmail" DeleteCurrentContact="DeleteContact"></ContactComponents01>
    }           
}

@code 
{
    [Parameter]
    public List<Contact> contacts { get; set; }

    [Parameter]
    public RenderFragment NullContact { get; set; }

    public bool displayEmail = true;

    public async Task DeleteContact(Contact contact)
    {
        var result = await js.InvokeAsync<bool>("confirm", $"vai mesmo {contact.FirstName} {contact.LastName}");
        if (result)
        {
            contacts.Remove(contact);
        }
    }

}
