<h3>Contact</h3>
@if(contacts is null)
{
    @NullContact
}
else
{
    <input type="checkbox" onclick="@(()=>{displayEmail=!displayEmail;})" @bind="displayEmail" /><label>Display Email</label>

    @foreach (var contact in contacts)
    {
        <ContactComponents01 contact="contact" displayEmail="displayEmail" DeleteCurrentContact="DeleteContact"></ContactComponents01>
    }           
}

@code 
{
    [Parameter]
    public List<Contact> contacts { get; set; }

    [Parameter]
    public RenderFragment NullContact { get; set; }

    public bool displayEmail = true;

    public void DeleteContact(Contact contact)
    {
        contacts.Remove(contact);
    }

}
